*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(349, 96%, 31%);
  color: hsl(0, 0%, 100%);
  gap: 40px;
  font-family: "Michroma", sans-serif;
}

.main-area {
  height: 75%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(231, 82%, 6%);
}

.prompt-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ask {
  font-size: 18px;
  font-weight: 800;
}

.info-area {
  display: flex;
  gap: 100px;
  font-size: 20px;
  font-weight: 800;
  flex-wrap: wrap;
}

.user-input {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.warning {
  color: hsl(0, 83%, 75%);
}

.squared {
  color: hsl(51, 100%, 50%);
}

.cubed {
  color: hsl(0, 100%, 50%);
}

.factorial {
  color: hsl(120, 100%, 25%);
}

.info {
  padding: 5px;
}
